<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  bienbiendios a app
  aqui van los datos

  {% if books_list %}
  <ul>
    {% for book in books_list %}
    <li>{{book.title}} || {{book.author.first_name}} || {{book.category.name}}
    {% endfor %}
  </ul>
  {% else %}
  <p> no books found</p>
  {% endif %}
</body>
</html>
